<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tarefas</title>
</head>
<body style="background-color: #ccccb3">
    <h1 style="text-align: center;">Lista de Tarefas</h1>
    <form action="/pagina-processa-dados-do-form" method="post"
style="margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;">

        <ul>
    {% for transacao in transacoes %}
        <li><a href="{% url 'url_update' transacao.id %}"> {{ transacao.categoria }} - {{ transacao.descricao}} - {{transacao.data}} - {{transacao.observacoes}}</a></li>
        <br>
    {% endfor %}
    </ul>
    <a href="{% url 'url_nova' %}">Novo</a

    </form>

</body>
</html>